# Ensure this API key only has access to the Google Maps Static API,
# and is restricted to your domain(s) as this will be visible client side.
GOOGLE_MAPS_API_KEY=AbC123

# The optional time zone env var is used when emailing, but is a Node.js setting too.
TZ=Australia/Brisbane

# Global form email settings.
EMAIL_FROM=astro@themarkagency.com.au
EMAIL_TO=tech@themarkagency.com.au
POSTMARK_API_KEY=AbC123

# Form specific email settings (optional).
QUOTE_EMAIL_TO=tech+quote@themarkagency.com.au
QUOTE_FORM_EMAIL_SUBJECT=New Quote Request
QUOTE_EMAIL_THE_USER=true
